*{
    --border-radius: 1px;
    margin: 0px;
    padding: 0px;
}
  
body {
    margin: 0px;
    color: #fafffc;
    background-color: #222533;
    font-family: "Segoe UI", Arial, sans-serif;
}

.visible {
    opacity: 1;
    transition: 300ms ease-in;
}

.hidden {
    pointer-events: none;
    opacity: 0;
    transition: 300ms ease-in;
}

.fit-screen {
    min-height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-right {
    display: flex;
    justify-content: right;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.flex-fill {
    display: flex;
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.shadow-big {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 150ms ease-in-out;
}

.shadow-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, h3, p, label {
    margin: auto 1%;
}

input, .btn, .card {
    margin: 8px;
    padding: 8px;
    border-radius: var(--border-radius);
    background-color: #fafffc;
    border: 2px solid #a3c0e6;
    transition: 200ms cubic-bezier(0,.75,.25,1);
}

.btn {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

.btn-group .btn:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    margin-left: 8px;
}

.btn-group .btn:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-right: 8px;
}

.navbar {
    position: sticky;
    width: auto;
    height: auto;
    top:0;
    padding: 1% 10% 1% 10%;
}

.card {
    border: none;
    transition: 300ms ease-in-out;
}

.brand {
    margin: auto 1%;
    user-select: none;
}

.footer {
    bottom: 0;
    width: auto;
    padding: 1%;
}

.btn.bg-light {
    background-color: #fafffc;
    border: 2px solid #fafffc;
}

.btn.bg-light:hover {
    background-color: #fafffc;
    border: 2px solid #a3c0e6;
}

.btn.bg-light:active {
    background-color: #a3c0e6;
    border: 2px solid #a3c0e6;
}

.btn.bg-dark {
    background-color: #36354d;
    border: 2px solid #36354d;
}

.btn.bg-dark:hover {
    background-color: #36354d;
    border: 2px solid #6275ba;
}

.btn.bg-dark:active {
    background-color: #6275ba;
    border: 2px solid #6275ba;
}

.btn.bg-blue {
    background-color: #448de7;
    border: 2px solid #448de7;
}

.btn.bg-blue:hover {
    background-color: #448de7;
    border: 2px solid #3f48c2;
}

.btn.bg-blue:active {
    background-color: #3f48c2;
    border: 2px solid #3f48c2;
}

input.input-text:focus {
    outline: none;
    border: 2px solid #448de7;
}

input.input-text.invalid {
    outline: none;
    border: 2px solid #db4b3d;
}

.btn.bg-transparent {
    background-color: transparent;
    border: 2px solid transparent;
}

.btn.bg-transparent:hover {
    background-color: transparent;
    border: 2px solid #a3c0e6;
}

.btn.bg-transparent:active {
    background-color: #a3c0e6;
    border: 2px solid #a3c0e6;
}

.btn:disabled {
    color: #a3c0e6 !important;
    background-color: transparent !important;
    border: transparent !important;
}

.light {
    color: #222533;
}

.dark {
    color: #fafffc;
}

.bg-light {
    color: #222533;
    background-color: #fafffc;
}

.bg-dark {
    color: #fafffc;
    background-color: #222533;
}

.bg-blue {
    color: #fafffc;
    background-color: #448de7;
}

.bg-green {
    color: #fafffc;
    background-color: #2bdb72;
}

.bg-red {
    color: #fafffc;
    background-color: #db4b3d;
}

.bg-transparent {
    color: #fafffc;
    background-color: transparent;
    border: none;
}


.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}